<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #1877F2;"></i>
         <i class="fa-brands fa-square-instagram" style="color: #E4405F"></i>
         <i class="fa-brands fa-youtube" style="color: #FF0000;"></i>
        </div>

        <div class="f-info-brandname"> &copy; ExploreWorld Private Limited </div>

        <div class="f-info-links">
            <a href="/privacy">privacy</a> &nbsp;&nbsp;&nbsp;
            <a href="/terms">terms</a>
        </div>

    </div>
</footer>