<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">ExploreWorld</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">   
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search Destination" aria-label="Search">
            <button class="btn search-btn" type="submit">Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Add Your Business</a>
         <% if(!currentUser) { %>
            <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
         <% } %>

         <% if(currentUser){ %>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
         <% } %>
        </div>


      </div>
    </div>
  </nav>